body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #1E1E1E;
  color: #FFFFFF;
  margin: 0;
}

a {
  color: #007ACC;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header, footer {
  background: #1E1E1E;
  color: #FFFFFF;
}