body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #1E1E1E; /* dark background */
  color: #FFFFFF;            /* white text */
  margin: 0;
}

a {
  color: #007ACC;            /* links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header, footer {
  background-color: #1E1E1E;
  color: #FFFFFF;
}

nav a {
  color: #FFFFFF;
}

nav a:hover {
  text-decoration: underline;
}