<div class="home-browse-panel">
  <div class="home-browse-panel__inner">
    <a href={`${import.meta.env.BASE_URL}lessons`} class="home-browse-panel__button">
      Browse All Lessons
    </a>
  </div>
</div>
